# Warm Up

Write the following functions:
* `sum_with_step_k(nums, k)`

Description: This function takes a list of integers (nums) and a positive integer (k). It returns the sum of all the integers in the list where the indices of these integers are divisible by k.

Example:
```python
>>> sum_with_step_k([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 3)
22
```
Explanation: 22 = 1 + 4 + 7 + 10

* `max_element(nums)`

Description: This function takes a list of integers (nums) and returns the index of the maximum element in the list. \
Note: You can solve this problem using a one-liner with the built-in max function and enumerate function.

Example:
```python
>>> max_element([100, 2, 3, 4, 5, 6, 7, 8, 9, 10])
0
```

* `k_multiples(a, b, k)`

Description: This function takes two integers a and b and a positive integer k. It returns the list of multiples of k in the range from a to b.

Example:
```python
>>> k_multiples(1, 10, 3)
[3, 6, 9]
```

In [1]:
def sum_with_step_k(nums, k):
    pass

def max_element(nums):
    pass

def k_multiples(a, b, k):
    pass


print(sum_with_step_k([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 3))  # 22
print(max_element([100, 2, 3, 4, 5, 6, 7, 8, 9, 10]))  # 0
print(k_multiples(1, 10, 3))  # [3, 6, 9]

None
None
None

# Has duplicates

Write a function named `has_duplicates` that takes a list as a parameter and returns True if there is any object that appears more than once in the list.

Write the function in three different ways:
* using a list
* using a set
* using a dictionary

For example:
```python
>>> has_duplicates([1, 2, 3, 4, 4])
True
```

In [ ]:
# Using a list
def has_duplicates_list(lst):
    pass


# Using a set
def has_duplicates_set(lst):
    pass


# Using a dictionary
def has_duplicates_dict(lst):
    pass


print(has_duplicates_list([1, 2, 3, 4, 4]))  # True
print(has_duplicates_set([1, 2, 3, 4, 4]))  # True
print(has_duplicates_dict([1, 2, 3, 4, 4]))  # True

True
True
True

# Cumulative Sum

Write a function called `cumsum` that takes a list of numbers and returns a new list where each element is the cumulative sum of the elements in the original list up to that point.

In other words, the ith element in the new list is the sum of the first i+1 elements from the original list.

Example:
```python
>>> t = [1, 2, 3]
>>> cumsum(t)
[1, 3, 6]
```
In this example, the first element is 1, the second element is 1 + 2 = 3, and the third element is 1 + 2 + 3 = 6.

In [ ]:
def cumsum(t):
    pass

def cumsum_efficient(t):
    pass


t = [1, 2, 3]
print(cumsum(t))  # [1, 3, 6]

[1, 3, 6]

# Nested Dictionary

You have a list of transactions where each transaction is a tuple of the form `(customer_id, product, amount_spent)`. Write a function `total_by_client` that takes this list of transactions and returns a nested dictionary where each customer ID maps to another dictionary, which contains products as keys and total amount spent on each product as values.

Example input:
```python
transactions = [
    (1, 'apple', 5),
    (2, 'banana', 3),
    (1, 'banana', 2),
    (1, 'apple', 3),
    (2, 'apple', 4)
]
```

Expected output:
```python
{
    1: {'apple': 8, 'banana': 2},
    2: {'banana': 3, 'apple': 4}
}
```
Hint: You can use setdefault method to create a new dictionary for each customer ID.

In [ ]:
def total_by_client(transactions: list) -> dict:
    pass


transactions = [
    (1, 'apple', 5),
    (2, 'banana', 3),
    (1, 'banana', 2),
    (1, 'apple', 3),
    (2, 'apple', 4)
]

print(total_by_client(transactions))  # {1: {'apple': 8, 'banana': 2}, 2: {'banana': 3, 'apple': 4}}

{1: {'apple': 8, 'banana': 2}, 2: {'banana': 3, 'apple': 4}}

In [ ]:
from collections import defaultdict


def total_by_client(transactions: list) -> dict:
    pass


transactions = [
    (1, 'apple', 5),
    (2, 'banana', 3),
    (1, 'banana', 2),
    (1, 'apple', 3),
    (2, 'apple', 4)
]

print(total_by_client(transactions))  # {1: {'apple': 8, 'banana': 2}, 2: {'banana': 3, 'apple': 4}}

defaultdict(<function total_by_client.<locals>.<lambda> at 0x000001AB433EBCE0>, {1: defaultdict(<class 'int'>, {'apple': 8, 'banana': 2}), 2: defaultdict(<class 'int'>, {'banana': 3, 'apple': 4})})

# Inclusion-Exclusion

You are managing a university course system, where students can enroll in multiple courses. You have the following data:
- A set of students enrolled in `Math`
- A set of students enrolled in `Science`
- A set of students enrolled in `Art`

Write a function `optimize_courses` that performs the following tasks using set operations:
1. Find the set of students enrolled in all three courses (Math, Science, and Art).
2. Find the set of students enrolled in exactly two out of the three courses.
3. Find the set of students enrolled in only one course.
4. Return a dictionary summarizing the results for the three tasks above.

Example input:
```python
math = {"Alice", "Bob", "Charlie", "David"}
science = {"Charlie", "David", "Edward", "Fiona"}
art = {"Alice", "David", "Fiona", "George"}
```

Expected output:
```python
{
    "all_three": {"David"},
    "exactly_two": {"Alice", "Charlie", "Fiona"},
    "only_one": {"Bob", "Edward", "George"}
}
```

Hint: Use set operations like union, intersection, and difference (`|`, `&`, `-`).

In [ ]:
def optimize_courses(math: set, science: set, art: set) -> dict:
    pass


math = {"Alice", "Bob", "Charlie", "David"}
science = {"Charlie", "David", "Edward", "Fiona"}
art = {"Alice", "David", "Fiona", "George"}

print(optimize_courses(math, science, art))  # {'all_three': {'David'}, 'exactly_two': {'Alice', 'Charlie', 'Fiona'}, 'only_one': {'George', 'Edward', 'Bob'}}

{'all_three': {'David'}, 'exactly_two': {'Alice', 'Charlie', 'Fiona'}, 'only_one': {'George', 'Edward', 'Bob'}}

# Chop-chop

Write a function called `chop` that takes a list, modifies it by removing the first and last elements. The function should return None.

For example:
```python
>>> t = [1, 2, 3, 4]
>>> chop(t)
>>> t
[2, 3]
```

In [ ]:
def chop(t):
    pass


t = [1, 2, 3, 4]
chop(t)
print(t)  # [2, 3]

[2, 3]

# Anagrams

Two words are considered anagrams if you can rearrange the letters from one word to spell the other.

Write a function called `is_anagram` that takes two strings and returns `True` if they are anagrams and `False` otherwise.

For example:
```python
>>> is_anagram("listen", "silent")
True

>>> is_anagram("hello", "world")
False
```

In [ ]:
def is_anagram(word1, word2):
    pass


print(is_anagram("listen", "silent"))  # True
print(is_anagram("hello", "world"))  # False

True
False