In [ ]:
print ("Hello, World!!!")

Hello, World!!!

### Data types

In [ ]:
num1 = 3.14
num2 = 0.001
num3 = -42.0

num1 = 1.23e4   # Equivalent to 1.23 * 10^4, or 12300.0
num2 = 5.67E-8  # Equivalent to 5.67 * 10^-8, or 0.0000000567
num3 = -9.01e2  # Equivalent to -9.01 * 10^2, or -901.0

num1 = float(10)        # Converts integer 10 to floating point 10.0
num2 = float("3.1415")  # Converts string "3.1415" to floating point 3.1415
num3 = float("1e-3")    # Converts string "1e-3" to floating point 0.001

num1 = float('inf')   # Positive infinity
num2 = float('-inf')  # Negative infinity
num3 = float('nan')   # Not a Number

# Numeric Bases

In [ ]:
print(0b1010)

10

In [ ]:
number = 42

# Binary
print(f"Binary: {bin(number)}")         # Output: Binary: 0b101010

# Octal
print(f"Octal: {oct(number)}")          # Output: Octal: 0o52

# Hexadecimal
print(f"Hexadecimal: {hex(number)}")    # Output: Hexadecimal: 0x2a

# Without prefixes
print(f"Binary (no prefix): {bin(number)[2:]}")        # Output: Binary (no prefix): 101010
print(f"Octal (no prefix): {oct(number)[2:]}")         # Output: Octal (no prefix): 52
print(f"Hexadecimal (no prefix): {hex(number)[2:]}")   # Output: Hexadecimal (no prefix): 2a

Binary: 0b101010
Octal: 0o52
Hexadecimal: 0x2a
Binary (no prefix): 101010
Octal (no prefix): 52
Hexadecimal (no prefix): 2a

# Data Types

In [ ]:
# Data types

age = 25
temperature = -15
distance = 100000

pi = 3.14159
price = 19.99
gravity = 9.8

is_sunny = True
has_access = False

greeting = "Hello, World!"
name = 'Alice'
multiline_string = """This is a 
multiline string."""

result = None

# Strings

In [ ]:
# single quote vs double quote
greeting = 'Hello, World!'
greeting = "Hello, World!"

single_quote_string = 'It\'s a beautiful day!'
double_quote_string = "It's a beautiful day!"

In [ ]:
# when one operand in an arithmetic operation is string

# Concatenation of two strings
result = "Hello, " + "World!"
print(result)  # Output: Hello, World!

# Attempting to add a string and an integer
result = "The answer is " + 42  # Raises TypeError

Hello, World!

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = "The answer is " + str(42)
print(result)  # Output: The answer is 42

The answer is 42

In [ ]:
# string with * operator

result = "Ha" * 3
print(result)  # Output: HaHaHa

HaHaHa

In [ ]:
result = 3 * "Ha"  # Valid, Output: HaHaHa
result = "Ha" * 3  # Valid, Output: HaHaHa

In [ ]:
# other operators like: -, /, //, %, **

result = "5" - 2  # Raises TypeError
result = "Hello" / 2  # Raises TypeError

TypeError: unsupported operand type(s) for -: 'str' and 'int'

# Arithmatic Operators

In [ ]:
# precedence
print ( 5 + 6 / 2)
print ((5 + 6) / 2)
print (6 * 2 / 3 * 2 / 2)
print (6 / 4 * 2 / 2 * 2)

8.0
5.5
4.0
3.0

In [ ]:
# precedence in arithmetic operations -- combined example

# Expression: 2 + 3 * 4 ** 2 / (1 + 1) - 5
result = 2 + 3 * 4 ** 2 / (1 + 1) - 5

# Breakdown:
# 1. Parentheses: (1 + 1) -> 2
# 2. Exponentiation: 4 ** 2 -> 16
# 3. Multiplication: 3 * 16 -> 48
# 4. Division: 48 / 2 -> 24.0
# 5. Addition: 2 + 24.0 -> 26.0
# 6. Subtraction: 26.0 - 5 -> 21.0

print(result)  # Output: 21.0

21.0

In [ ]:
# unary operator
result = -5 + -10
print(result)  # Output: -5

-15

# Standard Input

In [ ]:
# input
name = input("What is your name? ")
print("Hello, " + name + "!")

Hello, Alice!

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height: "))
is_student = input("Are you a student? (yes/no): ").lower() == "yes"
value = None if input("Enter a value: ") == "" else input("Enter a value: ")

print(f"Name: {name}")
print(f"Age: {age}")
print(f"Height: {height}")
print(f"Is student: {is_student}")
print(f"Value: {value}")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Example: Inputting three variables separated by spaces
x, y, z = input("Enter three values separated by spaces: ").split()

print("x:", x)
print("y:", y)
print("z:", z)

In [ ]:
# Example: Inputting three integers separated by spaces and mapping to specific type
x, y, z = map(int, input("Enter three integers separated by spaces: ").split())

print("x:", x)
print("y:", y)
print("z:", z)

In [ ]:
# Example: Inputting three variables separated by commas
x, y, z = input("Enter three values separated by commas: ").split(',')

print("x:", x)
print("y:", y)
print("z:", z)

In [ ]:
# Example: Inputting an unknown number of values
values = input("Enter values separated by spaces: ").split()

print("Values:", values)

# Standard Output

In [ ]:
# printing
numRooms = 5
price = 100.5

print ("Number of rooms:", numRooms, "Price per room:", price)  # Output: Number of rooms: %d Price per room: %10.2f" % (numRooms, price))

Number of rooms: 5 Price per room: 100.5
Number of rooms: 5 Price per room:     100.50

In [ ]:
# printing
numRooms = 5
price = 100.5

print ("Number of rooms:", numRooms, "Price per room:", price)  # Output: Number of rooms: %d Price per room: %10.2f" % (numRooms, price))

print ("Number of rooms: %d Price per room: %10.2f" % (numRooms, price))

Number of rooms: 5 Price per room: 100.5
Number of rooms: 5 Price per room:     100.50

In [ ]:
# printing
numRooms = 5
price = 100.5
# different formats of print statement
print ("Number of rooms: %d. Price per room: %10.2f" % (numRooms, price))
print ("Number of rooms: {0} Price per room: {1:10.2f}".format(numRooms, price))
print ("Number of rooms: {numRooms} Price per room: {price}")

Number of rooms: 5. Price per room:     100.50
Number of rooms: 5 Price per room:     100.50
Number of rooms: ${numRooms} Price per room: {price}

In [ ]:
x = 24
y = 1.21997
greeting = "Hello"
print("%d" % x)
print("%5d" % x)
print("%05d" % x)
print("Amount:%5d" % x)
print("%f" % y)
print("%.2f" % y)
print("%7.2f" % y)
print("%-7.2f" % y)
print("%s" % greeting)
print("%d %.2f" % (x,y))
print("%9s" % greeting)
print("%-9s" % greeting)
print("%d%%" % x)

24
   24
00024
Amount:   24
1.219970
1.22
   1.22
1.22
Hello
24 1.22
    Hello
Hello
24%

# The match Statement

In [ ]:
status_code = 505

match status_code:
    case 200:
        print("OK") 
    case 404:
        print("Not Found")
    case 500:
        print("Internal Server Error")
    case 503|504|505:
        print("Service Unavailable")
    case _:
        print("Unknown status code")

Service Unavailable

In [ ]:
value = (200, "OK")

match value:
    case (200, status) if status == "OK":
        print("Both conditions are true")
    case _:
        print("Conditions not met")

Conditions not met

# To find version of your Python

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Jun 13 2023, 15:57:17) [GCC 8.3.0]

# Variants of 'for' Loop

In [ ]:
# 1. Basic for loop with a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
print("---")

# 2. for loop with range()
for i in range(5):
    print(i)
print("---")

# 3. for loop with range(start, stop)
for i in range(2, 7):
    print(i)
print("---")

# 4. for loop with range(start, stop, step)
for i in range(0, 10, 2):
    print(i)
print("---")

# 5. for loop with enumerate
for index, fruit in enumerate(fruits):
    print(index, fruit)
print("---")

# 6. for loop with a dictionary
person = {"name": "John", "age": 30, "city": "New York"}
for key, value in person.items():
    print(key, ":", value)
print("---")

# 7. for loop with a string
text = "Hello"
for char in text:
    print(char)
print("---")

# 8. Nested for loop
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for row in matrix:
    for num in row:
        print(num, end=" ")
    print()  # Newline after each row
print("---")

# 9. for loop with zip()
names = ["John", "Jane", "Doe"]
ages = [23, 34, 45]
for name, age in zip(names, ages):
    print(name, "is", age, "years old")
print("---")

# 10. for loop with list comprehension
squares = [x**2 for x in range(5)]
print(squares)
print("---")

# 11. for loop with else
for i in range(5):
    print(i)
else:
    print("Loop finished without break")

# Example with break
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("This will not print because the loop was broken")
print("---")

# 12. for loop with break and continue
for i in range(5):
    if i == 3:
        break
    print(i)

print("----")

for i in range(5):
    if i == 3:
        continue
    print(i)

apple
banana
cherry
---
0
1
2
3
4
---
2
3
4
5
6
---
0
2
4
6
8
---
0 apple
1 banana
2 cherry
---
name : John
age : 30
city : New York
---
H
e
l
l
o
---
1 2 3
4 5 6
7 8 9
---
John is 23 years old
Jane is 34 years old
Doe is 45 years old
---
[0, 1, 4, 9, 16]
---
0
1
2
3
4
Loop finished without break
0
1
2
---
0
1
2
----
0
1
2
4

## The 'break' and 'else' in 'for' Loop

In [ ]:
# break statement and else
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    if number == 3:
        print("Found 3!")
        break
else:
    print("3 not found in the list")

3 not found in the list

In [ ]:
# effect of break in case of nested loop

for i in range(3):  # Outer loop
    print(f"Outer loop iteration {i}")
    for j in range(5):  # Inner loop
        if j == 2:
            print(f"  Inner loop breaking at j = {j}")
            break  # Breaks only the inner loop
        print(f"  Inner loop iteration {j}")
    print("Continuing in the outer loop")

print("Done with all loops")

Outer loop iteration 0
  Inner loop iteration 0
  Inner loop iteration 1
  Inner loop breaking at j = 2
Continuing in the outer loop
Outer loop iteration 1
  Inner loop iteration 0
  Inner loop iteration 1
  Inner loop breaking at j = 2
Continuing in the outer loop
Outer loop iteration 2
  Inner loop iteration 0
  Inner loop iteration 1
  Inner loop breaking at j = 2
Continuing in the outer loop
Done with all loops

# The pass Statement

In [ ]:
# pass statement: null operation

def future_function():
    pass  # TODO: Implement this function later

# The while Loop

In [ ]:
n = 5

while n > 0:
    print(n)
    if n == 20:
        break
    n -= 1
else:
    print("Loop finished without break")

5
4
3
2
1
Loop finished without break

In [ ]:

def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
        print()
fib(1000)

0#1#1#2#3#5#8#13#21#34#55#89#144#233#377#610#987#

# Functions

In [ ]:
# function with default arguments

def calculate_interest(balance, interest_rate=0.05, time_period=1):
    """
    Calculates the interest on a given balance with a specified interest rate and time period.
    If the interest rate or time period is not provided, it uses the default values of 5% interest rate
    and 1 year time period.
    
    :param balance: The initial balance on which interest is calculated.
    :param interest_rate: The interest rate (default is 5%).
    :param time_period: The time period in years (default is 1 year).
    :return: The interest accrued.
    """
    interest = balance * interest_rate * time_period
    return interest

# Example usage
interest_rate=0.07
time_period=2
print("Interest with default rate and time:", calculate_interest(1000))  # Default interest rate and time period
print("Interest with custom rate:", calculate_interest(1000, interest_rate))  # Custom interest rate, default time period
print("Interest with custom time period:", calculate_interest(1000, interest_rate, time_period))  #
print("Interest with custom rate and time:", calculate_interest(1000, interest_rate=0.04, time_period=3))  #

Interest with default rate and time: 50.0
Interest with custom rate: 70.0
Interest with custom time period: 140.0
Interest with custom rate and time: 120.0

In [ ]:
def calculate_interest(balance, interest_rate=0.05, time_period=1):
    """
    Calculates the interest on a given balance with a specified interest rate and time period.
    If the interest rate or time period is not provided, it uses the default values of 5% interest rate
    and 1 year time period.
    
    :param balance: The initial balance on which interest is calculated.
    :param interest_rate: The interest rate (default is 5%).
    :param time_period: The time period in years (default is 1 year).
    :return: The interest accrued.
    """
    interest = balance * interest_rate * time_period
    return interest

# Example usage
print("Interest with default rate and time:", calculate_interest(1000))  # Default interest rate and time period
print("Interest with custom rate:", calculate_interest(1000, interest_rate=0.07))  # Custom interest rate, default time period
print("Interest with custom time period:", calculate_interest(1000, time_period=2))  # Default interest rate, custom time period
print("Interest with custom rate and time:", calculate_interest(1000, interest_rate=0.04, time_period=3))  # Custom interest rate and time period

In [ ]:
i = 5
def f(arg=i):
    print(arg)
    i = 6
f()
f(i)
f()
f()

5
5
5
5

In [ ]:
def calculate_monthly_payment(principal, annual_interest_rate, years):
    """
    Calculate the monthly payment on a loan.

    :param principal: The loan amount.
    :param annual_interest_rate: The annual interest rate (in percentage).
    :param years: The term of the loan in years.
    :return: The monthly payment amount.
    """
    monthly_interest_rate = annual_interest_rate / 100 / 12
    number_of_payments = years * 12
    monthly_payment = (principal * monthly_interest_rate) / (1 - (1 + monthly_interest_rate) ** -number_of_payments)
    return monthly_payment

In [ ]:
# Using positional arguments
principal = 100000  # $100,000 loan
annual_interest_rate = 5  # 5% annual interest rate
years = 30  # 30-year loan

monthly_payment = calculate_monthly_payment(principal, annual_interest_rate, years)
print(f"Monthly Payment (Positional): ${monthly_payment:.2f}")

Monthly Payment (Positional): $536.82

In [ ]:
# Using keyword arguments
monthly_payment = calculate_monthly_payment(principal=100000, annual_interest_rate=5, years=30)
print(f"Monthly Payment (Keyword): ${monthly_payment:.2f}")

Monthly Payment (Keyword): $536.82

In [ ]:
# Mixing positional and keyword arguments
monthly_payment = calculate_monthly_payment(100000, annual_interest_rate=5, years=30)
print(f"Monthly Payment (Mixed): ${monthly_payment:.2f}")

Monthly Payment (Mixed): $536.82

In [ ]:
def calculate_interest(balance, annual_interest_rate=3, years=1, compounding_frequency=12):
    """
    Calculate the interest earned on a savings account balance over a specified period.

    :param balance: The initial amount in the savings account.
    :param annual_interest_rate: The annual interest rate (default is 3%).
    :param years: The number of years the money is invested (default is 1 year).
    :param compounding_frequency: The number of times interest is compounded per year (default is 12 for monthly compounding).
    :return: The total interest earned.
    """
    # Convert the annual interest rate from a percentage to a decimal
    rate = annual_interest_rate / 100

    # Calculate the compound interest
    total_amount = balance * (1 + rate / compounding_frequency) ** (compounding_frequency * years)

    # The interest earned is the total amount minus the initial balance
    interest_earned = total_amount - balance

    return interest_earned

# Example usage
print(f"Interest (default values): ${calculate_interest(10000):.2f}")
print(f"Interest (custom interest rate): ${calculate_interest(10000, annual_interest_rate=5):.2f}")
print(f"Interest (custom years): ${calculate_interest(10000, years=5):.2f}")
print(f"Interest (custom compounding frequency): ${calculate_interest(10000, compounding_frequency=4):.2f}")
print(f"Interest (all custom values): ${calculate_interest(10000, annual_interest_rate=4, years=3, compounding_frequency=2):.2f}")

Interest (default values): $304.16
Interest (custom interest rate): $511.62
Interest (custom years): $1616.17
Interest (custom compounding frequency): $303.39
Interest (all custom values): $1261.62

In [ ]:
def calculate(param1, param2=10, param3=100, param4=1000):
    print(param1, end=" ")
    print(param2, end=" ")
    print(param3, end=" ")
    print(param4, end=" ")
    print()

calculate(1) # 1 positional argument
calculate(param1=2) # 1 keyword argument
calculate(param1=2, param3=200) # 2 keyword arguments
calculate(param3=200, param1=2) # 2 keyword arguments
calculate(3, 30, 300) # 3 positional arguments
calculate(4, param2=40) # 1 positional and 1 keyword argument

In [ ]:
calculate() # required argument missing
calculate(param1=5, 50) # positional argument follows keyword argument
calculate(6, param1=60) # duplicate value for the same argument
calculate(param10=1000) # invalid argument name

In [ ]:
# local variables

def my_function():
    x = 10  # Local variable
    print("Inside function:", x)

my_function()
print("Outside function:", x)  # Raises an error

Inside function: 10

NameError: name 'x' is not defined

In [ ]:
y = 20  # Global variable

def another_function():
    print("Inside function:", y)

another_function()
print("Outside function:", y)

Inside function: 20
Outside function: 20

In [ ]:
#
z = 30  # Global variable

def display():
    z = 5  # Local variable
    print("Inside function:", z)

display()
print("Outside function:", z)

Inside function: 5
Outside function: 30

In [ ]:
# 
z = 30  # Global variable

def display():
    global z  # Correctly reference the global variable
    z = 5
    print("Inside function:", z)

print("Outside function:", z)
display()
print("Outside function:", z)

Outside function: 30
Inside function: 5
Outside function: 5

In [1]:
# how to modify a nonlocal variable inside a function
x = 100
def outer_function():
    x = 10  # Local variable of the outer function
    def inner_function():
        nonlocal x
        x = 20  # Modify the outer function's variable
    inner_function()
    print("Outside inner function:", x)

outer_function()

Outside inner function: 20

In [ ]:
# how to modify a global variable inside a function

a = 50  # Global variable

def outer_function():
    b = 25  # Outer function's local variable
    def inner_function():
        c = 15  # Inner function's local variable
        print("Inside inner function:", a, b, c)
    inner_function()
print("Outside functions:", a, b)  # Raises an error for 'b'

NameError: name 'b' is not defined

### Incearca sa ghicesti ce outputuri dau inainte sa le rulezi

In [ ]:
#range(start,end,step)
#returns the specified range without including end

for i in range(5):
    print(i)

print(list(range(5,10)))
print(list(range(0,10,3)))
print(list(range(-10,-100,-30)))
print(5,2,-3)

### `continue`

In [6]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i, end=" ")

1 3 5 7 9

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=5a8ae697-bb97-4705-a855-0921a1d17899' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>